<head>
  <title><%= ENV['APP_TITLE']%> - Read articles from your favorite websites and blogs in one place</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <%= stylesheet_link_tag "style", media: "all", "data-turbolinks-track" => "reload" %>
  <%= csrf_meta_tags %>

  <script>
    // My custom methods
    function changePage() {
      emptyContent();
      hideSearch();
      hideNewCollection();
      beginLoading();
    }
    function emptyContent() {
      $("#content").empty();
    };

    function beginLoading() {
      $("#loading").show();
    }

    function endLoading() {
      $("#loading").hide();
    }

    function openExternal(url) {
      window.open(url, '_blank');
    }

    function showCollection(res) {
      let collection = res['collection'];
      $("#content").append(`
        <div class='section-header'>
          <div class='name'>${collection['name']}</div>
          <div class='description'>${collection['description']}</div>
        </div>`
      );
    }

    function getPostsForCollection(collectionId) {
      beginLoading();
      console.log("called!");
      $.ajax({
          url: `posts?collection_id=${collectionId}&limit=10`,
          context: document.body
        }).done(function(res) {
          endLoading();
          showPosts(res);
        });
    }

    function showPosts(res) {
      for (let i in res) {
        item = res[i];
        console.log(item);
        $("#content").append(`
          <div class='item post' onclick="openExternal('${item['link']}')" style='box-shadow: 0px 5px ${item['source_color']}'>
            <div class='post-name'>${item['title']}</div>
            <div class='post-author'>${item['author']}</div>
            <br />
            <span class='post-source-name'>${item['source_title']}</span>
            <span class='post-date'>${item['post_timestamp']}</span>
          </div>`
        );
      }
    }

    function getCollection(collectionId) {
      changePage();
      if(collectionId==0) {
        /* ideally I'd make the search bar placeholder text unclickable, but
         this prevents it from breaking things for now */
        showHome();
        return;
      };
      $.ajax({
        url: `collections/${collectionId}`,
        context: document.body
      }).done(function(res) {
        endLoading();
        showCollection(res);
        getPostsForCollection(collectionId);
      });
    }

    function showHome() {
      changePage();
      $.ajax({
        url: "collections?limit=10",
        context: document.body
      }).done(function(res) {
        emptyContent();
        endLoading();
        $("#content").append(`
          <div class='section-header'>
            <div class='name'>Welcome!</div>
            <div class='description'>Get started with some of our most popular collections of articles!</div>
          </div>
          `)
        for (let i in res) {
          item = res[i];
          $("#content").append(`
            <div class='item collections-item' onclick="getCollection(${item['id']})">
              <div class='name'>${item['name']}</div>
              <div class='description'>${item['description']}</div>
            </div>`);
        }
        initializeSearch();
        initializeSourceSearch();
      });
    }

    function initializeSearch() {
      $.ajax({
        url: "collections",
        context: document.body
      }).done(function(res) {
        // Initialize select2
        $("#searchCollections").select2({
          placeholder: "Search all collections",
          data: res.map(item => {
            return {id: item.id, text: item.name}
          }),
          width: '40%'
          //minimumResultsForSearch: 10
        });
      });

      // Read selected option
      $('#searchCollections').on('select2:select', function(e){
        var id = $('#searchCollections').find(':selected').val();
        getCollection(id);
        hideSearch();
      });
    }

    function toggleSearch() {
      $('#search').is(":visible") ? hideSearch() : showSearch();
    }

    function showSearch() {
      hideNewCollection();
      $('#search').show();
      $('#menu-button-search').css({'text-shadow': '1px 1px #222222'});
    }

    function hideSearch() {
      $('#search').hide();
      $('#menu-button-search').css('text-shadow', '0px 0px');
      $('#searchCollections').val(null).trigger('change');
    }

    function toggleNewCollection() {
      $('#new-collection').is(":visible") ? hideNewCollection() : showNewCollection();
    }

    function showNewCollection() {
      hideSearch();
      $('#new-collection').show();
      $('#menu-button-new-collection').css({'text-shadow': '1px 1px #222222'});
    }

    function hideNewCollection() {
      $('#new-collection').hide();
      $('#menu-button-new-collection').css('text-shadow', '0px 0px');
    }

    function initializeSourceSearch() {
      $.ajax({
        url: "sources",
        context: document.body
      }).done(function(res) {
        // Initialize select2
        $("#search-sources").select2({
          data: res.map(item => {
            return {id: item.id, text: item.title}
          }),
          width: '100%',
          placeholder: 'Add Sources',
          allowClear: true,
          multiple: true
          //minimumResultsForSearch: 10
        });
      });

      $('#new-collection').submit(function(e) {
        createNewCollection();
      })
    }

    function createNewCollection() {
      var colName = $('#new-collection-name').val();
      var colDesc = $('#new-collection-desc').val();
      var sourceIds = $('#search-sources').val();
      changePage();
      $.post("collections",
        {
          collection: {
            name: colName,
            description: colDesc,
            source_ids: sourceIds
          }
        }, function(res, status) {
          getCollection(res['id']);
      });
    }

    $(document).ready(function(){
      // jQuery methods go here...
      showHome();
    });
  </script>
</head>
<body>
  <div class="header">
    <div class="title">
      <a href='#' onclick='showHome()'><%= ENV['APP_TITLE']%></a>
    </div>
    <div class="title-description">
      <i>Read articles from your favorite websites and blogs in one place</i>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a href='#' id='menu-home' onclick='showHome()'>&#127968 Home</a></li>
      <li><a href='#' onclick='toggleNewCollection()' id='menu-button-new-collection'>&#10133 New Collection</a></li>
      <li><a href='#' onclick='toggleSearch()' id='menu-button-search'>&#128269 Search</a></li>
    </ul>
  </div>
  <div id='search' style='display: none'>
    <select id='searchCollections'>
      <option value=0>Search all collections</option>
    </select>
  </div>
  <div id='new-collection' style='display: none;'>
    <div id='new-collection-exit' onclick='hideNewCollection()'>X</div>
    <div class='name'>New Collection</div>
    <div class='description'>A collection is a group of sources (news websites, blogs, etc.) you want to follow. Give it a try!</div>
    <br/>
    <form>
      <input type='text' placeholder='Name' class='text-input' id='new-collection-name' required><br />
      <input type='text' placeholder='Description' class='text-input' id='new-collection-desc' required><br />
      <select placeholder='Add Sources' id='search-sources' required><br />
      <input type='submit' id='new-colleciton-submit' class='button'>
    </form>
  </div>
  <div id='content'>
  </div>
  <div id='loading'>
    <p>Loading...</p>
  </div>
</body>
