<head>
  <title>Blog Aggregator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script>
    // My custom methods
    function emptyContent() {
      $("#content").empty();
    };

    function beginLoading() {
      $("#loading").show();
    }

    function endLoading() {
      $("#loading").hide();
    }

    function openExternal(url) {
      window.open(url, '_blank');
    }

    function showCollection(res) {
      let collection = res['collection'];
      $("#content").append(`
        <div class='section-header'>
          <div class='name'>${collection['name']}</div>
          <div class='description'>${collection['description']}</div>
        </div>`
      );
    }

    function getPostsForCollection(collectionId) {
      beginLoading();
      $.ajax({
          url: `http://localhost:3000/posts?collection_id=${collectionId}&limit=10`,
          context: document.body
        }).done(function(res) {
          endLoading();
          showPosts(res);
        });
    }

    function showPosts(res) {
      for (let i in res) {
        item = res[i];
        console.log(item);
        $("#content").append(`
          <div class='item post' onclick="openExternal('${item['link']}')">
            <div class='post-name'>${item['title']}</div>
            <div class='post-author'>${item['author']}</div>
            <br />
            <span class='post-source-name' style='color: ${item['source_color']}'>${item['source_title']}</span>
            <span class='post-date'>${item['post_timestamp']}</span>
          </div>`
        );
      }
    }

    function getCollection(collectionId) {
      emptyContent();
      beginLoading();
      $.ajax({
        url: `http://localhost:3000/collections/${collectionId}`,
        context: document.body
      }).done(function(res) {
        endLoading();
        showCollection(res);
        getPostsForCollection(collectionId);
      });
    }

    function showHome() {
      beginLoading();
      $.ajax({
        url: "http://localhost:3000/collections",
        context: document.body
      }).done(function(res) {
        emptyContent();
        endLoading();
        $("#content").append(`
          <div class='section-header'>
            <div class='name'>Welcome!</div>
            <div class='description'>Get started with some of our most popular collections of articles!</div>
          </div>
          `)
        for (let i in res) {
          item = res[i];
          $("#content").append(`
            <div class='item collections-item' onclick="getCollection(${item['id']})">
              <div class='name'>${item['name']}</div>
              <div class='description'>${item['description']}</div>
            </div>`);
        }
        initializeSearch(res);
        hideSearch();
      });
    }

    function initializeSearch(res) {
      console.log(res);
      // Initialize select2
      $("#searchCollections").select2({
        placeholder: "Search all collections",
        data: res.map(item => {
          return {id: item.id, text: item.name, desc: item.description}
        }),
        width: '40%'
        //minimumResultsForSearch: 10
      });

      // Read selected option
      $('#searchCollections').on('select2:select', function(e){
        var id = $('#searchCollections').find(':selected').val();
        getCollection(id);
        toggleSearch();
      });
    }

    function toggleSearch() {
      $('#search').is(":visible") ? hideSearch() : showSearch();
    }

    function showSearch() {
      $('#search').show();
      $('#menu-button-search').css({'text-shadow': '1px 1px #222222'});
    }

    function hideSearch() {
      $('#search').hide();
      $('#menu-button-search').css('text-shadow', '0px 0px');
    }

    $(document).ready(function(){
      // jQuery methods go here...
      showHome();
    });
  </script>
</head>
<body>
  <div class="header">
    <div class="title">
      <a href='#' onclick='showHome()'>App Title</a>
    </div>
    <div class="title-description">
      <i>Read articles from all your favorite writers and blogs in one place</i>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a href='#' id='menu-home' onclick='showHome()'>&#127968 Home</a></li>
      <li><a href='#add'>&#10133 New Collection</a></li>
      <li><a href='#search' onclick='toggleSearch()' id='menu-button-search'>&#128269 Search</a></li>
    </ul>
  </div>
  <div id='search' style='display: none'>
    <select id='searchCollections' placeholder='Search all collections'>
      <option id=0>Search all collections</option>
    </select>
  </div>
  <div id='content'>
  </div>
  <div id='loading'>
    <p>Loading...</p>
  </div>
</body>
