<head>
  <title>Blog Aggregator</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    // My custom methods
    function emptyContent() {
      $("#content").empty();
    };

    function beginLoading() {
      $("#loading").show();
    }

    function endLoading() {
      $("#loading").hide();
    }

    function openExternal(url) {
      window.open(url, '_blank');
    }

    function showCollection(res) {
      let collection = res['collection'];
      $("#content").append(`
        <div class='section-header'>
          <div class='name'>${collection['name']}</div>
          <div class='description'>${collection['description']}</div>
        </div>`
      );
    }

    function getPostsForCollection(collectionId) {
      beginLoading();
      $.ajax({
          url: `http://localhost:3000/posts?collection_id=${collectionId}&limit=10`,
          context: document.body
        }).done(function(res) {
          endLoading();
          showPosts(res);
        });
    }

    function showPosts(res) {
      for (let i in res) {
        item = res[i];
        console.log(item);
        $("#content").append(`
          <div class='item post' onclick="openExternal('${item['link']}')">
            <div class='post-name'>${item['title']}</div>
            <div class='post-author'>${item['author']}</div>
            <br />
            <span class='post-source-name' style='background-color: ${item['source_color']}'>${item['source_title']}</span>
            <span class='post-date'>${item['post_timestamp']}</span>
          </div>`
        );
      }
    }

    function getCollection(collectionId) {
      emptyContent();
      beginLoading();
      $.ajax({
        url: `http://localhost:3000/collections/${collectionId}`,
        context: document.body
      }).done(function(res) {
        endLoading();
        showCollection(res);
        getPostsForCollection(collectionId);
      });
    }

    function showHome() {
      beginLoading();
      $.ajax({
        url: "http://localhost:3000/collections",
        context: document.body
      }).done(function(res) {
        emptyContent();
        endLoading();
        for (let i in res) {
          item = res[i];
          console.log(item);
          $("#content").append(`
            <div class='item collections-item' onclick="getCollection(${item['id']})">
              <div class='name'>${item['name']}</div>
              <div class='description'>${item['description']}</div>
            </div>`);
        }
      });
    }

    $(document).ready(function(){
      // jQuery methods go here...
      showHome();
    });
  </script>
</head>
<body>
  <div class="header">
    <div class="title">
      <a href='#' onclick='showHome()'>App Title</a>
    </div>
    <div class="title-description">
      <i>Read articles from all your favorite writers and blogs in one place</i>
    </div>
  </div>
  <div class="menu">
    <ul>
      <li><a href='#' id='menu-home' onclick='showHome()'>&#127968</a></li>
      <li><a href='#seach'>&#128269</a></li>
      <li><a href='#add'>&#10133</a></li>
    </ul>
  </div>
  <div id='content'>
  </div>
  <div id='loading'>
    <p>Loading...</p>
  </div>
</body>
