body {
  font-family: sans-serif;
  background-color: #eeeeee;
  color: #222222;
  margin: 0;
}

#content {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0 2% 2% 2%;
}

.header {
  background-color: #a418d0;
  display: block;
  padding: 2%;
  color: #eeeeee;
}

.title {
  font-size: 3em;
  text-align: center;
}

.title a {
  text-decoration: none;
  color: #eeeeee;
}

.title a:hover {
  text-decoration: underline;
}

.title-description {
  text-align: center;
}

.menu {
  display: block;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline;
}

.menu a {
  font-size: 1.3em;
  text-decoration: none;
  color: #a418d0;
  padding: 13px;
}

.menu a:hover {
  background-color: #eeeeee;
}

#loading {
  font-size: 2em;
  display: block;
  max-width: 200px;
  max-height: 200px;
  height: 50%;
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#loading p {
  padding-top: 40%;
}

#search {
  background-color: lightgrey;
  width: 100%;
  padding: 1%;
  text-align: center;
}

#searchCollections {
  width: 40%;
}

.item {
  padding: 2%;
  display: block;
  background-color: lightgrey;
  border-color: darkgrey;
  border-style: solid;
  border: 1px;
  border-radius: 3px;
  margin-top: 2%;
}

.item:hover {
  background-color: #a418d0;
  cursor: pointer;
}

.name {
  font-size: 1.2em;
  font-weight: bold;
}

.post-name {
  font-weight: bold;
}

.post-source-name {
  font-weight: bold;
  font-size: 0.7em;
  border-radius: 10px;
  padding: 2px;
}

.post-author {
  font-style: italic;
  font-size: 0.7em;
}

.post-date {
  font-size: 0.7em;
  text-align: right;
  display: block;
  float: right;
}
